@tailwind base;
@tailwind components;
@tailwind utilities;

canvas {
  display: block;
}

* {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

*::-webkit-scrollbar {
  display: none !important;
}

html, body {
  overflow-x: hidden;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none !important;
}