@tailwind base;
@tailwind components;
@tailwind utilities;

canvas {
  display: block;
}

/* Direct global styles for scrollbar hiding */
html, body {
  overflow-x: hidden;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none !important;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none !important;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
  }
  /* Show scrollbar when needed */
  .scrollbar::-webkit-scrollbar {
    display: block;
  }
  .scrollbar {
    -ms-overflow-style: auto;  /* IE and Edge */
    scrollbar-width: auto;  /* Firefox */
  }
}

@layer base {
  html,
  body {
    @apply no-scrollbar;
  }
}