/* src/app.css */
@import 'tailwindcss';

canvas {
  display: block;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

html, body {
  overflow-x: hidden;
}

html.no-scrollbar,
body.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html.no-scrollbar::-webkit-scrollbar,
body.no-scrollbar::-webkit-scrollbar {
  display: none;
}